<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShadowChatApp2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UserMessages.Rss_ExploererHelper.FeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Notifications.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.PublicProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserMessages.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PostManagement.PostManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationaAndUpdates.OtpVerificationActivity"
            android:exported="false" />

        <activity
            android:name=".PostManagement.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationaAndUpdates.RegisterationActivity"
            android:exported="false" />
        <activity
            android:name=".PostManagement.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.ProfileImageActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".HelpcenterActivity"
            android:exported="false" />
        <activity
            android:name=".Notifications.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationaAndUpdates.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AiChatBot.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>